@font-face {
  font-family: 'Alibaba-Health-Normal';
  src:url('@/assets/fonts/AlibabaHealthFont2.0CN-45R.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Alibaba-Health-Bold';
  src:url('@/assets/fonts/AlibabaHealthFont2.0CN-85B.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Sunflower-Light';
  src:url('@/assets/fonts/Sunflower-Light.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Sunflower-Medium';
  src:url('@/assets/fonts/Sunflower-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Sunflower-Bold';
  src:url('@/assets/fonts/Sunflower-Bold.ttf');
  font-display: swap;
}
